/* display flex so that it  */
body {
    margin: 0px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #011559;
    display: flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-wrap:wrap;
    color:rgb(47, 167, 161)
}
.container {
    outline: solid white 2px;
    margin: auto;
    padding: 10px;
    height: 80vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    flex-grow: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.logo-container {
    /* outline: red solid 2px; */
    justify-content: center;
    image-rendering:optimizeQuality;
    display: flex;
    flex-grow:1;
}
input {

    width: 50rem;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    font-size: 40px;
    padding: 20px;
}
select {
    padding: 20px;
    width: 53rem;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
}
label {
    margin: 15px;
}

.middle-inputs{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


.top-inputs {
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    align-items: center;

}
 .low-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .decisions {
    display: flex;
    justify-content:flex-end;

 }
 .decisions button {
    padding: 10px;
    margin: 10px;
 }

 .decisions .cancel {
    border-radius: 15px;
    background-color: red;
    border-color: rgb(247, 4, 4);
}
.decisions .cancel:hover {
    background-color: rgb(253, 4, 4);
    transition:0.2s ease-out;
 }
.decisions .submit {
    border-radius: 15px;
    border-color: rgb(122, 231, 127);
    background-color: rgb(122, 231, 127);

}

input:hover {
    border-color: rgb(0, 204, 255);
    box-shadow: 0 0 10px #4195fc;
}
.decisions .cancel:hover {
    border-color: rgb(255, 8, 0);
    box-shadow: 0 0 30px #fc4741;
}
.decisions .submit:hover {
    border-color: rgb(122, 231, 127);
    box-shadow: 0 0 30px #47fc41;
}